<footer class="site-footer">
    <div>
      <a href="/About/about">About</a>
      &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://join.slack.com/t/markdownguide/shared_invite/enQtNDA2Nzk2Mjc1NjA0LWM5ZTE1ZGZmOGVlMDM4OWExYTJhMWZiNTAzNWIyNjJmNDI2MWU5MDA5YWYwNjk0ZDliODQzZjEyNDNlMTU2NDY">Slack</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/mattcone/markdown-guide">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/api/v1/">API</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://app.termly.io/document/privacy-policy/1ca2b712-96e3-46bf-a8f1-d0035d389e7d">Privacy Policy</a></p>
    </div>
    <div>
        <a href="/About/contact">Contact</a>
    </div>
  </footer>